$color-background: #42093f;
$color-text: white;

html,
body {
	margin: 0;
	font-family: "Pathway Gothic One", sans-serif;
	letter-spacing: 0.1rem;
	background-color: $color-background;
}

a:link {
	text-decoration: none;
	color: $color-text;
}