$color-background: #4f0f5f;
$color-text: white;
$color-hover: #f58457; 

html,
body {
	margin: 0;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.1rem;
	background-color: $color-background;
}

a:link {
	text-decoration: none;
	color: $color-text;
}