.root {
	h1 {
		font-size: 32px;
		font-family: "Pathway Gothic One", sans-serif;
		color: white;
		padding-bottom: 18px;
	}
}

.pageWrapper {
	display: flex;
	flex-direction: column;
	padding: 4%;
}

